:root {
  --font-montserrat: "Montserrat-Regular";
  --nav-bar-min-height: 60px; /* adjust according to "finalHeight" value on ./config.js */
  --nav-bar-max-height: 130px; /* adjust according to "initialHeight" value on ./config.js */
  --nav-bar-min-mobile-height: 40px; /* adjust according to "smallScreenHeight" value on ./config.js */
  --nav-bar-max-mobile-height: 60px; /* adjust according to "smallScreenHeight" value on ./config.js */
  --main-color: rgb(126, 66, 131);
  --transparency: rgba(255, 255, 255, 0.8);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  color: black;
  transition: height 0.3s, background-color 0.3s;
  z-index: 999;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0px;
}

.navigation-menu li {
  list-style-type: none;
  margin-right: 20px;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  color: black;
}

.logo {
  height: 100%;
  padding-top: 5px;
  padding-left: 40px;
}

.logo img {
  max-height: 100%;
  transition: width 0.3s, height 0.3s;
}

.hamburger {
  height: 30px;
  width: 30px;
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--main-color);
  cursor: pointer;
  position: absolute;
  right: 25px;
  display: none;
}

/* styles for mobile */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .logo {
    padding-top: 0px;
    padding-left: 20px;
  }

  .navigation-menu ul {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: max-content;
    height: max-content;
    background-color: var(--transparency);
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 0.5rem 0;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}
