.section {
  padding-top: var(--nav-bar-min-height);
}

.section-top {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--nav-bar-max-height);
}
